.skip-link {
  position: fixed;
  left: 5px; /* Adjust as needed */
  top: 60px; /* Adjust as needed */
  padding: 10px 20px;
  background-color: #8da1b8; /* Button background color */
  color: #fff; /* Button text color */
  border-radius: 5px;
  text-decoration: none;
  opacity: 0.4;
  z-index: 1000; /* Ensure it's above other elements */
}

.skip-link:hover {
  background-color: #0056b3; /* Hover background color */
}
